# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/vcs.xml

/Maven__junit_junit_4_12.xml
/Maven__net_bytebuddy_byte_buddy_1_9_10.xml
/Maven__net_bytebuddy_byte_buddy_agent_1_9_10.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_mockito_mockito_core_3_1_0.xml
/Maven__org_objenesis_objenesis_2_6.xml